@{
    ViewData["Title"] = "About"; ViewData["Description"] = "TechEcommerce";
}

<div class="container mt-150 mb-150" style="padding:50px">
    <div class="row">
        <div class="col-lg-8 offset-lg-2 text-center">
            <h2 style="color:Black">Welcome, Customer!</h2>
            <p style="color:Black">You are logged in as an Customer.</p>
        </div>
    </div>
</div>