<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - TechEcommerce</title>
    <link rel="stylesheet" href="~/assets/css/main.css" asp-append-version="true" />
</head>
<body>
    <div class="text-center mt-5">
        <img src="~/assets/img/logo.png" alt="TechEcommerce" />
    </div>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
</body>
</html>
